<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem
        id="menu_school_root"
        name="School Management"
        sequence="10"
        groups="school_management_system.group_school_student,school_management_system.group_school_teacher,school_management_system.group_school_principal,school_management_system.group_school_admin"/>

    <menuitem
        id="menu_student"
        name="Students"
        parent="menu_school_root"
        action="action_student"
        sequence="20"/>

    <menuitem
        id="menu_teacher"
        name="Teachers"
        parent="menu_school_root"
        action="action_teacher"
        sequence="30"/>

    <menuitem
        id="menu_classroom"
        name="Classrooms"
        parent="menu_school_root"
        action="action_classroom"
        sequence="40"/>

    <menuitem
        id="menu_subject"
        name="Subjects"
        parent="menu_school_root"
        action="action_subject"
        sequence="50"/>

</odoo>
